@import "variables";
@import "grid";

html, * {
  position: relative; }

html, body {
  height: 100%; }

body {
  background-color: $black;
  color: $beige;
  font-family: $freight;
  font-size: 24px;
  line-height: 1.5em;
  margin: 0;
}
h1, h2, h3, .h1, .h2, .h3 {
  font-weight: normal;
}
h1,
.h1 {
  font-family: $bebas;
  font-size: 1.333em;
  letter-spacing: .1em;
  line-height: 1.4em;
}
h2,
.h2 {
  color: $red;
  font-family: $brandon;
  font-size: .8333em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
h3,
.h3 {
  font-family: $brandon;
  font-size: .4167em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.section-heading {
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  padding: 8px 12px;
  margin: {
    bottom: 20px;
    left: auto;
    right: auto;
    top: 120px;
  };
}
.name {
  @extend .h2;
  color: $red;
  background-color: $beige;
  box-sizing: border-box;
  display: inline;
  padding: 2px 5px;
  margin-right: .25em;
  text-transform: uppercase;
}
.center {
  text-align: center;
}

// Font and background colors
@for $i from 1 through length($colors) {
  .#{nth($color-names, $i)} {
    background-color: #{nth($colors, $i)};
  }
  .#{nth($color-names, $i)}-font {
    color: #{nth($colors, $i)};
  }
}

a {
  color: inherit;
}

hr {
  border: 1px solid rgba($red, 0.5);
  box-shadow: 0 0 3px rgba($red, 0.5);
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  width: 110px;
}
.space-below {
  margin-bottom: 300px;
}
.header {
  background-image: url("../images/the-cohabit-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

  padding: {
    top: 200px;
    left: 20px;
    right: 20px;
    bottom: 150px;
  }
  @media (min-width: 550px) {
    padding: {
      left: 100px;
      right: 100px;
    }
  }

  text-align: center;

  &__logo {
    display: block;
    margin: 0 auto;
    max-width: 375px;
    width: 85%;
    img {
      width: 100%;
    }
  }

  &__tag-line {
    @extend .h1;
    color: #fff2d2;
    letter-spacing: .46em;
    text-shadow: 0 0 15px #333333;
    margin-bottom: 0;
    margin-top: 0px;
    opacity: .85;
  }

  &__quote {
    background-color: rgba($black, .5);
    box-sizing: border-box;
    display: inline-block;
    font-family: Times, Times New Roman, serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 1em;
    padding: 3px 8px;
  }
  &__quote-attr {
    @extend .h3;
    text-shadow: 0 0 15px $black;
  }

  &__prismatic {
    img {
      margin-top: 20px;
      width: 180px;
    }
    h3 {
      line-height: 1em;
      margin: 0;
      opacity: .53;
    }
  }

  &__coming-soon {
    @extend .h3;
    font-size: .8em;
    line-height: 1em;
  }
}

$player-margin: 50px;
.player {
  background-color: $red;
  box-sizing: border-box;
  font-size: 12px;
  min-height: 100px;
  padding: 25px 10px;
  text-align: center;
  width: 100%;
  &--stuck {
    position: fixed;
    bottom: 0;
    z-index: 5;
  }
  &-container{
    box-sizing: border-box;
    position: relative;
    width: 100%;
  }

  @media (min-width: 700px) {
    padding: {
      left: 10%;
      right: 10%;
    }
    .player__progress {
      width: calc(100% - 475px);
    }
  }

  * {
    display: inline-block;
    vertical-align: middle;
  }

  &__btn {
    background-image: url('/images/play-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    float: left;
    margin: {
      left: 20px;
      right: 0;
    }
    height: 60px;
    width: 60px;

    @media (min-width: 600px) {
      float: none;
      margin: 0;
    }
    &--playing {
      background-image: url('/images/pause-icon.png');
    }
  }

  &__frame {
    display: none;
  }

  &__title {
    @extend .h3;
    font-size: inherit;
    margin-left: $player-margin;
  }

  &__time {
    letter-spacing: .08em;
    margin-left: $player-margin;
    text-align: center;
    width: 8ch;
  }

  &__progress {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    padding-top: 6px;
    margin-left: $player-margin;
    width: 200px;

    &::-webkit-progress-bar {
      height: 1px;
      background-color: $dark-red;

    }
    &::-webkit-progress-value {
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 0 8px 2px rgba(255,255,255, .4);
      height: 7px;
      position: relative;
      top: -3px;
    }
  }

  &__logo {
    background-image: url('/images/logo-soundcloud.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-left: 15px;
    height: 30px;
    width: 30px;
  }
}

main {
  text-align: center;
}

.guest {
  // background-position: center;
  // background-size:cover;
  // // overflow: hidden;
  box-sizing: border-box;
  padding: {
    left: 10px;
    right: 10px;
  }
  position: relative;
  text-align: center;
  @media (min-width: 550px) {
    padding: {
      left: 100px;
      right: 100px;
    }
  }
  &--extended {
    box-sizing: border-box;
    padding-top: 140px;
  }
  &-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
    @media (min-width: 550px) {
      background-attachment: fixed;
    }
    @for $i from 1 through 9 {
      &:nth-child(#{$i + 1}) {
        background-image: url('/images/bg#{$i}.jpg');
      }
    }
    &:nth-child(odd) {
      .guest {
        background-color: rgba(113, 40, 30, 0.6);
      }
      @media (min-width: 550px) {
        .guest__img {
          transform: rotate(-3deg);
        }
      }
    }
    &:nth-child(even) {
      .guest {
          background-color: rgba(0, 0, 0, 0.6);
      }
      @media (min-width: 550px) {
        .guest__img {
          transform: rotate(3deg);
        }
      }
    }
    &:last-child {
      .guest__bio {
        margin-bottom: 100px;
      }
    }
  }
  &__header {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
  }
  &__info {
    @extend .row;
    position: relative;
    z-index: 1;
  }
  &__img {
    &-container {
      margin: 50px 0;
      @media (min-width: 550px) {
        text-align: center;
        margin: 100px 0;
      }
    }
    border: 3px solid $beige;
    max-width: 100%;
  }
  &__bio {
    text-align: center;
    margin-bottom: 50px;
    @media (min-width: 550px) {
      text-align: left;
      margin: 100px 0;
    }
  }
}

.contact {
  background-color: $beige;
  padding: {
    bottom: 50px;
    left: 20px;
    right: 20px;
    top: 75px
  }
  position: relative;
  text-align: center;
}
.about {
  background-color: $beige;
  padding: {
    bottom: 50px;
    left: 15vw;
    right: 15vw;
    top: 50px;
  }
}

footer {
  text-align: center;
}

$icons: facebook, instagram, email;
.icon {
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 20px 10px;
  @each $icon in $icons {
    &-#{$icon} {
      background-image: url('/images/#{$icon}-icon.png');
      &:hover {
        background-image: url('/images/#{$icon}-icon-hover.png');
      }
    }
  }
}

form {
  font-size: 0;

  input,
  button {
    border: 1px solid $black;
    box-sizing: border-box;
    height: 50px;
    padding: 15px;
    font-family: $brandon;
    font-size: 10px;
    letter-spacing: .1em;
    margin: 10px 5px;
    text-transform: uppercase;
    width: 150px;

    @media (min-width: 550px) {
      margin: {
        bottom: 10px;
        left: 10px;
        right: 0;
        top: 10px;
      }
    }
  }
  button {
    border-color: $red;
    background-color: $red;
    color: $beige;
    font-size: 12px;
    @media (min-width: 550px) {
      margin: {
        bottom: 10px;
        right: 20px;
      }
    }
  }
}

.circle {
  background-color: #ebe8df;
  border-radius: 75px;
  box-sizing: border-box;
  height: 150px;
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  z-index: 4; }
  .circle img {
    width: 100%;
    height: 100%; }

.no-underline {
  text-decoration: none; }

.copyright {
  margin: 0; }

body .modal {
  height: 340px;
  max-width: 600px
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow:hidden;
  }
}
