$red: #cd4837;
$dark-red: #993629;
$beige: #ebe8df;
$black: #333333;
$colors: $red, $dark-red, $beige, $black;
$color-names: red, dark-red, beige, black;
$bebas: "bebas-neue", Impact, sans-serif;
$brandon: "brandon-grotesque", Futura, sans-serif;
$freight: "freight-sans-pro", Helvetica, Arial, sans-serif;
